
<!DOCTYPE html>
<html lang="en">


    <head>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">



        <title>Athanor</title>
        <link rel="icon" type="image/x-icon" href="/Users/aimery/Desktop/THP/J5/good/assets/img/Iconsmind-Outline-Tree-22.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/application.scss" rel="stylesheet" />


    </head>



    <body id="page-top">



        <!-- Navigation-->
        <nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/">À propos</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#projects">Articles</a></li>
                        <li class="nav-item"><a class="centrenav nav-link js-scroll-trigger" href="/#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--PERSONAL SCRIPT JavaScript-->
        <script type="text/javascript">
            $(function () {
                $(document).scroll(function () {
                    var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
        });

        </script>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    

                    <h2 class="text-white-50" style="font-size:40px">Intelligence Articielle & foresterie: un mariage nécessaire ?</h2>
                </div>
            </div>
        </header>


          <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="brouillard.jpg" alt="" /></div>
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="text-black-50 mb-0">Une forêt en danger  </h4>
                            <hr>
                            <p>Depuis des millions d’années, les plantes retirent du carbone de l’atmosphère et le transforment en matière organique. Des quantités immenses de CO2 sont ainsi contenues dans la biomasse des arbres, ce qui fait de la forêt notre premier rempart contre les catastrophes induites par le dérèglement du climat. </p>
            
                            <p>Or ce rempart est en danger : l’inéluctable réchauffement de l’atmosphère accroît la sensibilité des forêts françaises aux aléas climatiques. </p>
                            <p>On estime que 30% de la forêt française est menacée du fait de son incapacité à s’adapter à l’évolution trop rapide du climat renforçant les risques d’incendies, la prolifération de parasites liés aux sécheresses, les canicules, les inondations… </p>
                            <p>Paradoxalement, les outils dont dispose la foresterie n'ont jamais été aussi précis : les données satellitaires et bio-organiques sont de plus en plus nombreuses, de plus en plus accessibles et de plus en plus précises. Couplées à des algorithmes d’Intelligence Artificielle (IA) toujours plus puissants, ces informations conduisent à des modélisations mathématiques capables de reproduire en détail les différents composants d’un écosystème.  </p>
                            <br/>
                            <center>
                            <img
                                src="../michael-dziedzic--Rc6usOigMk-unsplash.jpg"
                                height="500px"
                                width="600px"
                            />
                            </center>
                            <br/>
                            <p>Alors que peut espérer la filière Forêt-Bois de ces nouvelles technologies ?  </p>
                            <br/>

                            <h4 class="text-black-50 mb-0">1. Estimation des stocks de carbone.  </h4>
                            <hr>
                            <p>Pour modéliser le stock de carbone contenu dans une parcelle de forêt, il est nécessaire d’évaluer la quantité de CO2 séquestré par les nouvelles pousses ainsi que la quantité rejetée par les coupes.</p>
                            <p>Or le carbone forestier est majoritairement stocké dans la biomasse dite “aérienne”, c'est-à-dire dans le tronc et le houppier. Pour modéliser la quantité de carbone emmagasiné par une forêt, il faut donc prendre en compte les types d’essences présents sur le terrain ainsi que la taille des arbres. </p>
                            <p>Ces deux indicateurs peuvent être estimés par un bon algorithme d’IA ayant accès à des données satellitaires (pour déterminer les essences présents sur une parcelle) et à des données LiDAR (pour déterminer la taille des arbres) majoritairement fournies par des drones ou des avions. </p>
                            <br/>
                            <center>
                            <img
                                src="../satel.png"
                                height="400px"
                                width="400px"
                            />
                            <p><em>Source : https://spectrum.ieee.org</em></p>
                            </center>
                            <br/>
                            <p>Plusieurs équipes de chercheurs (Rodriguez-Veiga et al. 2017 ; O’Shea et al. 2019) ont ainsi réussi à estimer la quantité de carbone contenu dans une parcelle de terrain grâce au traitement de données obtenues sur une parcelle adjacente. </p>
                            <p>Si le secteur forestier était inclus dans le système européen de marché de quotas d’émissions (SEQE - UE), on pourrait y voir une possibilité pour les exploitants forestiers de bénéficier de crédits carbone au titre des quantités stockées en forêt.</p>
                            <br/>

                            <h4 class="text-black-50 mb-0">2. Boisement automatisé.</h4>
                            <hr>
                            <p>À long terme, le reboisement de terres laissées en friche pourrait être un moyen efficace de séquestrer du CO2.</p>
                            <p>D’après une récente étude (Bastin et al. 2019) jusqu’à 0.9 milliard d’hectares d'arbres pourraient ainsi être plantés sans porter atteinte aux zones d’habitation ou aux terres agricoles.</p>
                            <p>L’apprentissage automatique des modèles d’IA pourrait alors être précieux dans le choix du lieu de reboisement, dans le choix des essences, dans la surveillance de la santé des plantes et l’analyse des tendances à l'échelle d’un territoire. </p>
                            <br/>
                            <center>
                            <img
                                src="../drone.gif"
                                height="400px"
                                width="600px"
                            />
                            <p><em>Source : https://www.droneseed.com/ </em></p>
                            </center>
                            <br/>
                            <p>Certaines startups comme <a href="https://www.dendra.io/">Dendra Systems</a> ou <a href="https://www.droneseed.com/">Droneseed</a> ont même développé des drones capables de planter des graines plus efficacement que les méthodes traditionnelles. </p>
                            <br/>
                            <h4 class="text-black-50 mb-0">3. Gestion des feux de forêts.  </h4>
                            <hr>
                            <p>En plus d'occasionner des dommages matériels et humains, les feux de forêts relâchent une quantité inestimable de CO2 dans l’atmosphère (ce qui par boucle de rétroaction augmente la probabilité que d’autres forêts prennent feu, cf LeRoy Westerling et al. 2016) </p>
                            <p>D’un autre côté, les feux de forêt font partie intégrante des cycles forestiers. Les empêcher systématiquement entraînerait une accumulation de biomasse sur le sol et augmenterait les chances d’incendies de plus vaste ampleur. </p>
                            <p>Les outils de prévision des sécheresses peuvent êtres utiles pour prédire les régions où le risque de feu sont les plus importants, ainsi que pour estimer la teneur en eau du couvert forestier (Rhee et al. 2016). Des outils de prédiction du déplacement des feux peuvent également être d’un grand secours pour les soldats du feu. Avec de bons outils pour évaluer les régions les plus à risque, les pompiers peuvent effectuer des feux contrôlés et couper des zones sélectionnées pour empêcher la progression des incendies.</p>
                            <center>
                            <img
                                src="../fireai.jpg"
                                height="400px"
                                width="600px"
                            />
                            </center>
                            <br/>
                            <br/>
                            <h4 class="text-black-50 mb-0">4. Réduction de la déforestation.  </h4>
                            <hr>
                            <p>10% des émissions annuelles de gaz à effet de serre sont imputables aux feux de déforestation volontaires. Expansion des terres agricoles ou urbaines, exploitation forestière sauvage… les causes en sont multiples. </p>
                            <p>Les coupes rases sont particulièrement néfastes, puisqu’elles induisent une destruction totale des écosystèmes locaux. </p>
                            <p>Les outils de suivi de la déforestation peuvent fournir des données précieuses pour informer les décideurs politiques ainsi que les forces de l’ordre dans le cadre de coupes illégales. L’IA peut ainsi aider à différencier entre des coupes rases et des coupes sélectives (Hethcoat et al, 2019). </p>
                            <center>
                            <img
                                src="../deforest.jpg"
                                height="400px"
                                width="600px"
                            />
                            </center>
                            <br>
                            <br>
                            <p>Le coût de la logistique et du transport sont un facteur déterminant de l’industrie forestière, qui peuvent souvent motiver les coupes rases. </p>
                            <p>Des outils d’IA peuvent alors aider les forestiers à décider quand récolter, où fertiliser et quelles routes construire. Développer la bonne combinaison d'outils de régulation et de coupe sélective pourrait ainsi avoir un impact positif significatif.</p>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h5 class="text-black-50 mb-0">Sources :</h5>
                                <ul>
                                    <li>https://fbie.org/wp-content/uploads/2014/06/Plaquette_For%c3%aat-Bois-UNE-FILI%c3%88RE-DAVENIR-POUR-LA-FRANCE.pdf
                                    <li>https://inventaire-forestier.ign.fr/IMG/pdf/419207-b987f-resource-etude-forets-bois-et-changement-climatique-rapport.pdf
                                    <li>https://www.mckinsey.com/industries/paper-forest-products-and-packaging/our-insights/precision-forestry-a-revolution-in-the-woods#
                                    <li>Pedro Rodriguez-Veiga, James Wheeler, Valentin Louis, Kevin Tansey, and Heiko Balzter. Quantifying forest biomass carbon stocks from space. Current Forestry Reports, 3(1):1–18, 2017.</li>
                                    <li>Tara O’Shea. Developing the world’s first indicator of forest carbon stocks & emissions. https: //www.planet.com/pulse/developing-the-worlds-first-indicator-of-forestcarbon-stocks-emissions/, 2019.</li>
                                    <li>Jean-Francois Bastin, Yelena Finegold, Claude Garcia, Danilo Mollicone, Marcelo Rezende, Devin Routh, Constantin M. Zohner, and Thomas W. Crowther. The global tree restoration potential. Science, 365(6448):76– 79, 2019.</li>
                                    
                                    <li>Anthony LeRoy Westerling. Increasing western US forest wildfire activity: sensitivity to changes in the timing of spring. Philosophical Transactions of the Royal Society B: Biological Sciences, 371(1696):20150178, 2016.</li>
                                    <li>J Rhee, J Im, and S Park. Drought forecasting based on machine learning of remote sensing and long-range forecast data. APEC Climate Center, Republic of Korea, 2016.</li>
                                    <li>Matthew G Hethcoat, David P Edwards, Joao MB Carreiras, Robert G Bryant, Filipe M Franca, and Shaun Quegan. A machine learning approach to map tropical selective logging. Remote Sensing of Environment, 221:569–582, 2019.</li>

                                </ul>
                        </div>
                    </div>
                </div>