<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>



        <div id="index-gallery">
            <div class="itemi">
                <img src="aimery_copie.png" class="rounded-circle float-left">
            </div>

            <div class="itemi">
                <img src="aimery_copie.png" class="rounded-circle float-right">
            </div>
        </div>