
<ul>
  <% if admin_signed_in? %>
<%= render 'form', post: @post %>

<%= link_to 'Back', root_path %>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
    
